@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* Style globale */
*, body {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Style div screendisplay */
.screendisplay{
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 800px;
  margin:0 auto;
}

/* Style div title */
.title {
  width:100%;
  height:39%;
  background: url(god.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title img{
  width: 100px;
}

/* Style div names */
.names {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:15%;
  background-color: white;
}

.formSize {
  width: 25%;
  height: 70%;
}

#firstPerson p {
  text-align: center;
}
#firstPerson{

  background-color: red;

}

#secondPerson {

  background-color: yellow;
}

#myForm1{
  margin: auto;

}

/* Style div persons */
.persons {
  width:100%;
  height:30%;
  background-color: saddlebrown;
}

#character-selector{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px;
}

#character-selector li {
  width: 25%;
}

#character-selector li a {
  text-decoration: none;
}

#character-selector li img {
  height: 174px;
}

/* Style div start */
.start {
  width:100%;
  height:18%;
  background-color: orange;
  display: flex;
}

.start a {
  margin: auto;
}
